@import '../../../config-scss/rem-calc.scss';

:host {
    h1 {
        padding: rem-calc(8) rem-calc(16);
        margin: rem-calc(8) rem-calc(16);
        font-size: rem-calc(40);
        font-weight: 700;
    }
}